body{
  width: 100%;
  margin-top:5px;
  text-align:center;
  background: #45484d;
background: -moz-radial-gradient(center, ellipse cover,  #45484d 0%, #000000 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%);
background: radial-gradient(ellipse at center,  #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );

  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
}

.the-box{ 
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:center;
  align-items: stretch;
  align-content: stretch;
  height:100%;
}
.xyz-text {
color: #fff;
font-size: 5em;
font-weight: bold;
font-family: 'Warnes';
text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb, 0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

@media screen and (max-width: 600px) {
  .xyz-text {
color: #fff;
font-size: 2em;
font-family: 'Warnes';
text-shadow: 0 0px 0 #ccc,
  0 0px 0 #c9c9c9,
  0 0px 0 #bbb, 0 0px 0 #b9b9b9,
  0 0px 0 #aaa,
  0 0px 0px rgba(0,0,0,0),
  0 0 0px rgba(0,0,0,0),
  0 0px 0px rgba(0,0,0,0),
  0 0px 0px rgba(0,0,0,0),
  0 0px 0px rgba(0,0,0,0),
  0 0px 0px rgba(0,0,0,0),
  0 0px 0px rgba(0,0,0,0);
}
}
